body {
    margin: 0;
    padding: 0;
}
.header-logo{
    height:134px;
    width: 134px;
    float:left;
}
header{
    position: relative;
    width: 100%;
    border: 3px solid black;
    display: table;
    margin: 0px;
    box-sizing: border-box;
}
.pad-both{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    
}
